<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/css/style.css">
    <meta charset="UTF-8">
    <title>Mia's Jewerlly shop !</title>
</head>
<body>
    <center>
    <img src="static/miaslogo1.png" width="400" height="400">
    <h1>Welcome to my website !</h1>
    <h2>Here you'll be able to find all the jewerlly I make and order it ! </h2>
    <h2>Looking for a special present for someone? a new jewerlly for you? YOURE IN THE RIGHT PLACE !</h2>
    <ul>
        <li><a href='{{ url_for("home") }}'>HOME</a></li>
        <li><a href='{{ url_for("product") }}'>MY JEWERLLY</a></li>
         <li><a href='{{ url_for("cart") }}'>CART</a></li>
    </ul>

    <img src="static/picHome.jpeg" width="1100" height="300">

    </center>
</body>
</html>